In [1]:
import pandas as pd
import numpy as np

<br>
<br>
<br>

### Data Collection

In [2]:
# importing engineered datasets
train_data = pd.read_csv("./data/train_engineered.csv")
test_data = pd.read_csv("./data/test_engineered.csv")

In [3]:
# inspecting train data
train_data.head()

,id,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds,MedHouseVal
0,0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,1,1,3,3,514.678625,0.290581,2.236300,0.980
1,1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,1,1,4,3,394.431373,0.175312,3.616983,0.946
2,2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1,1,3,3,430.495512,0.168795,2.234099,1.576
3,3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1,1,1,4,600.683761,0.288171,2.164094,1.336
4,4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,1,1,4,2,1117.279851,0.249567,1.500861,4.500

In [4]:
# inspecting test data
test_data.head()

,id,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,37137,1.7062,35.0,4.966368,1.096539,1318.0,2.844411,39.75,-121.85,1,1,5,2,463.364843,0.220793,2.593989
1,37138,1.3882,22.0,4.187035,1.098229,2296.0,3.180218,33.95,-118.29,1,1,2,4,721.962984,0.262293,2.895771
2,37139,7.7197,21.0,7.129436,0.959276,1535.0,2.888889,33.61,-117.81,1,1,2,4,531.346154,0.134551,3.011530
3,37140,4.6806,49.0,4.769697,1.048485,707.0,1.743590,34.17,-118.34,1,1,2,4,405.485294,0.219822,1.662961
4,37141,3.1284,25.0,3.765306,1.081633,4716.0,2.003827,34.17,-118.29,1,1,2,4,2353.497136,0.287263,1.852594

In [5]:
# shape of datasets
print(train_data.shape)
print(test_data.shape)

(37137, 17)
(24759, 16)

In [7]:
# checking for null values
print(train_data.isna().any().any())
print(test_data.isna().any().any())

False
False

In [9]:
# checking datatypes
train_data.dtypes.value_counts()

float64    12
int64       5
dtype: int64

In [10]:
# checking datatypes
test_data.dtypes.value_counts()

float64    11
int64       5
dtype: int64

<br>
<br>
<br>

### Data Preprocessing

In [14]:
from sklearn.preprocessing import RobustScaler

#### target

In [11]:
# seperating target feature
y = train_data[['MedHouseVal']]
y.head()

   MedHouseVal
0        0.980
1        0.946
2        1.576
3        1.336
4        4.500

In [12]:
# shape of target
y.shape

(37137, 1)

<br>
<br>

#### train data

In [16]:
# seperating training data
X_train = train_data.drop(["id", "MedHouseVal"], axis=1)
X_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,2.3859,15.0,3.827160,1.112100,1280.0,2.486989,34.60,-120.12,1,1,3,3,514.678625,0.290581,2.236300
1,3.7188,17.0,6.013373,1.054217,1504.0,3.813084,38.69,-121.22,1,1,4,3,394.431373,0.175312,3.616983
2,4.7750,27.0,6.535604,1.103175,1061.0,2.464602,34.71,-120.45,1,1,3,3,430.495512,0.168795,2.234099
3,2.4138,16.0,3.350203,0.965432,1255.0,2.089286,32.66,-117.09,1,1,1,4,600.683761,0.288171,2.164094
4,3.7500,52.0,4.284404,1.069246,1793.0,1.604790,37.80,-122.41,1,1,4,2,1117.279851,0.249567,1.500861

In [22]:
# lookign at shape
X_train.shape

(37137, 15)

In [20]:
# scaler for scaling the dataset
scaler = RobustScaler()

In [21]:
# scaling the dataset
X_train_scaled = scaler.fit_transform(X_train)

# converting to dataframe
X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
X_train_scaled.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,-0.538619,-0.555556,-0.827041,0.839954,-0.113938,-0.352808,0.108753,-0.441799,0.0,0.0,0.5,-0.5,0.055483,1.234035,-0.482183
1,0.096882,-0.444444,0.629390,-0.004795,0.133850,1.461727,1.193634,-0.732804,0.0,0.0,1.0,-0.5,-0.281656,-0.497290,1.297043
2,0.600458,0.111111,0.977295,0.709701,-0.356195,-0.383441,0.137931,-0.529101,0.0,0.0,0.5,-0.5,-0.180543,-0.595182,-0.485019
3,-0.525317,-0.500000,-1.144784,-1.300533,-0.141593,-0.896998,-0.405836,0.359788,0.0,0.0,-0.5,0.0,0.296617,1.197841,-0.575233
4,0.111757,1.500000,-0.522430,0.214548,0.453540,-1.559947,0.957560,-1.047619,0.0,0.0,1.0,-1.0,1.745007,0.618013,-1.429912

<br>
<br>

#### test data

In [23]:
# seperating test data
X_test = test_data.drop(["id"], axis=1)
X_test.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,1.7062,35.0,4.966368,1.096539,1318.0,2.844411,39.75,-121.85,1,1,5,2,463.364843,0.220793,2.593989
1,1.3882,22.0,4.187035,1.098229,2296.0,3.180218,33.95,-118.29,1,1,2,4,721.962984,0.262293,2.895771
2,7.7197,21.0,7.129436,0.959276,1535.0,2.888889,33.61,-117.81,1,1,2,4,531.346154,0.134551,3.011530
3,4.6806,49.0,4.769697,1.048485,707.0,1.743590,34.17,-118.34,1,1,2,4,405.485294,0.219822,1.662961
4,3.1284,25.0,3.765306,1.081633,4716.0,2.003827,34.17,-118.29,1,1,2,4,2353.497136,0.287263,1.852594

In [24]:
# looking at shape
X_test.shape

(24759, 15)

In [25]:
# scalling test data
X_test_scaled = scaler.transform(X_test)

# converting to dataframe
X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)
X_test_scaled.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,-0.862687,0.555556,-0.068113,0.612862,-0.071903,0.136263,1.474801,-0.899471,0.0,0.0,1.5,-1.0,-0.088386,0.185828,-0.021245
1,-1.014303,-0.166667,-0.587296,0.637519,1.009956,0.595758,-0.063660,0.042328,0.0,0.0,0.0,0.0,0.636650,0.809149,0.367648
2,2.004434,-0.222222,1.372900,-1.390376,0.168142,0.197123,-0.153846,0.169312,0.0,0.0,0.0,0.0,0.102214,-1.109510,0.516822
3,0.555450,1.333333,-0.199133,-0.088449,-0.747788,-1.370024,-0.005305,0.029101,0.0,0.0,0.0,0.0,-0.250664,0.171246,-1.221021
4,-0.184610,0.000000,-0.868247,0.395314,3.686947,-1.013934,-0.005305,0.042328,0.0,0.0,0.0,0.0,5.211012,1.184199,-0.976649

<br>
<br>
<br>

### Saving datasets

In [27]:
# checking for null values
y.isna().any().any()

False

In [28]:
# checking for null values
X_train_scaled.isna().any().any()

False

In [29]:
# checking for null values
X_test_scaled.isna().any().any()

False

In [30]:
# saving target
y.to_csv("./data/y_preprocessed.csv", index=None)

In [31]:
# saving training data
X_train_scaled.to_csv("./data/x_train_preprocessed.csv", index=None)

In [32]:
# saving test data
X_test_scaled.to_csv("./data/x_test_preprocessed.csv", index=None)