In [1]:
import pandas as pd

<br>
<br>
<br>

### Data collection

In [2]:
# training data
x_train = pd.read_csv("./data/x_train_preprocessed.csv")
x_train.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,-0.538619,-0.555556,-0.827041,0.839954,-0.113938,-0.352808,0.108753,-0.441799,0.0,0.0,0.5,-0.5,0.055483,1.234035,-0.482183
1,0.096882,-0.444444,0.629390,-0.004795,0.133850,1.461727,1.193634,-0.732804,0.0,0.0,1.0,-0.5,-0.281656,-0.497290,1.297043
2,0.600458,0.111111,0.977295,0.709701,-0.356195,-0.383441,0.137931,-0.529101,0.0,0.0,0.5,-0.5,-0.180543,-0.595182,-0.485019
3,-0.525317,-0.500000,-1.144784,-1.300533,-0.141593,-0.896998,-0.405836,0.359788,0.0,0.0,-0.5,0.0,0.296617,1.197841,-0.575233
4,0.111757,1.500000,-0.522430,0.214548,0.453540,-1.559947,0.957560,-1.047619,0.0,0.0,1.0,-1.0,1.745007,0.618013,-1.429912

In [3]:
# test data
x_test = pd.read_csv("./data/x_test_preprocessed.csv")
x_test.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds
0,-0.862687,0.555556,-0.068113,0.612862,-0.071903,0.136263,1.474801,-0.899471,0.0,0.0,1.5,-1.0,-0.088386,0.185828,-0.021245
1,-1.014303,-0.166667,-0.587296,0.637519,1.009956,0.595758,-0.063660,0.042328,0.0,0.0,0.0,0.0,0.636650,0.809149,0.367648
2,2.004434,-0.222222,1.372900,-1.390376,0.168142,0.197123,-0.153846,0.169312,0.0,0.0,0.0,0.0,0.102214,-1.109510,0.516822
3,0.555450,1.333333,-0.199133,-0.088449,-0.747788,-1.370024,-0.005305,0.029101,0.0,0.0,0.0,0.0,-0.250664,0.171246,-1.221021
4,-0.184610,0.000000,-0.868247,0.395314,3.686947,-1.013934,-0.005305,0.042328,0.0,0.0,0.0,0.0,5.211012,1.184199,-0.976649

In [4]:
# target
y = pd.read_csv("./data/y_preprocessed.csv")
y.head()

   MedHouseVal
0        0.980
1        0.946
2        1.576
3        1.336
4        4.500

In [5]:
# training data + target
X = pd.concat([x_train, y], axis=1)
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedIncCat,AveOccupCat,LatitudeCat,LongitudeCat,AveHouses,RatioBedsRms,AvePeopBeds,MedHouseVal
0,-0.538619,-0.555556,-0.827041,0.839954,-0.113938,-0.352808,0.108753,-0.441799,0.0,0.0,0.5,-0.5,0.055483,1.234035,-0.482183,0.980
1,0.096882,-0.444444,0.629390,-0.004795,0.133850,1.461727,1.193634,-0.732804,0.0,0.0,1.0,-0.5,-0.281656,-0.497290,1.297043,0.946
2,0.600458,0.111111,0.977295,0.709701,-0.356195,-0.383441,0.137931,-0.529101,0.0,0.0,0.5,-0.5,-0.180543,-0.595182,-0.485019,1.576
3,-0.525317,-0.500000,-1.144784,-1.300533,-0.141593,-0.896998,-0.405836,0.359788,0.0,0.0,-0.5,0.0,0.296617,1.197841,-0.575233,1.336
4,0.111757,1.500000,-0.522430,0.214548,0.453540,-1.559947,0.957560,-1.047619,0.0,0.0,1.0,-1.0,1.745007,0.618013,-1.429912,4.500

<br>
<br>
<br>

### Stacking

In [6]:
import pycaret.regression as pc

In [7]:
# setting up data
housing = pc.setup(data=X, target='MedHouseVal', numeric_features=list(x_train.columns), use_gpu=True)

In [9]:
# compare performance of given 5 algorithms
top_5 = pc.compare_models(include=['lightgbm', 'catboost', 'xgboost', 'rf', 'et'], n_select=5)

In [12]:
# stack top 5 algorithms
stacker = pc.stack_models(top_5)

<br>
<br>
<br>

### Creating submission

In [21]:
# drop AveOccup from test set
test_set = x_test.drop('AveOccup', axis=1)

In [22]:
# making predictions using our stacked models
predictions = stacker.predict(test_set)

In [23]:
# inspecting predictions
predictions

array([0.60119489, 1.07048183, 4.11686316, ..., 1.14446212, 3.64918938,
       3.74102879])

In [24]:
# creating submission dataframe
sub_df = pd.read_csv("./data/sample_submission.csv")
sub_df.head()

      id  MedHouseVal
0  37137     2.079751
1  37138     2.079751
2  37139     2.079751
3  37140     2.079751
4  37141     2.079751

In [25]:
# updating dummy values with actual predictions
sub_df.MedHouseVal = predictions

In [26]:
# inspecting final dataframe
sub_df.head()

      id  MedHouseVal
0  37137     0.601195
1  37138     1.070482
2  37139     4.116863
3  37140     3.634295
4  37141     2.630080

In [27]:
# saving as a csv file
sub_df.to_csv("./data/submission_2.csv", index=None)